# Домашнее задание «Библиотека Pandas»

### Задание 1.
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [4]:
import pandas as pd

In [5]:
movies = pd.read_csv('movies.csv')
movies[['movieId', 'title']].head() # берем названия фильмов

rating = pd.read_csv('ratings.csv') 
rating = rating[['movieId', 'rating']] # берем рейтинги фильмов
 
joined = rating.merge(movies, on='movieId', how='left')
joined[['movieId', 'rating', 'title']].head() # объединяем их 

# фильтруем по максимальному рейтингу фильма и выводим результат
max_rating = rating['rating'].max()
filtered_joined = joined[(joined['rating'] == max_rating)] 
filtered_rating = filtered_joined.groupby(['movieId', 'title'])['movieId'].count()
filtered_rating.sort_values(ascending=False).head(1)

movieId  title
318      Shawshank Redemption, The (1994)    153
Name: movieId, dtype: int64

# Задание 2.

In [6]:
# По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
# категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывать в расчетах отрицательные значения quantity.
powers = pd.read_csv('power.csv')
filtered_countries = powers[ (powers['country'] == 'Estonia') | (powers['country'] == 'Lithuania') | (powers['country'] == 'Latvia') ]
filtered_categoryes = filtered_countries[(filtered_countries['category'] == 4) | (filtered_countries['category'] == 12) | (filtered_countries['category']== 21) & (filtered_countries['year'] < 2010) & (filtered_countries['year'] > 2005)]
print('Суммарное потребление энергии стран Прибалтики: {} КВт'.format(filtered_categoryes['quantity'].sum()))

Суммарное потребление энергии стран Прибалтики: 165867.0 КВт

# Задание 3.

In [7]:
# Импортировать таблицы любого сайта(с табличными данными) в pandas dataframe.  
data = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[1]
data.head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1046665,-,1048306,"-0,16 %",-01642,07:05:00
1,NaN,EUR/RUB,893475,-,893475,"0,00 %",00000,04:18:00
2,NaN,USD/RUB,758975,-,758975,"0,00 %",00000,04:18:00
3,NaN,JPY/RUB,06924,-,06935,"-0,16 %",-00011,07:05:00
4,NaN,CNY/RUB,116027,-,116202,"-0,15 %",-00175,07:05:00